<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <nav>
      <div><a href="/"> Project 2 </a></div>
      <dir>
         <form action="/dev/" method="post">
            <input type="text" name="search" id="search">
            <button type="submit">Search for an Anime</button>
         </form>
      </dir>
      <div>
         <a href="/dev/">Dev</a> <span> | </span>
         <a href="/signup">Signup</a> <span> | </span>
         <a href="/login">Login</a> <span> | </span>
         <a href="/userProfile">Profile Page</a> <span> | </span>
         <a href="/logout">Logout</a>
      </div>
   </nav>

   {{{body}}}

   <script src="/js/script.js"></script>
</body>

</html>