<!-- views/reviews-new.handlebars -->

<form method="POST" action="/reviews">
  <fieldset>
    <legend>New Review</legend>
    <!-- TITLE -->
    <p>
      <label for="title">Title</label><br>
      <input type="text" name="title" />
    </p>
    <p>
      <label for="animeTitle">Anime Title</label><br>
      <input type="text" name="animeTitle" />
    </p>

    <!-- DESCRIPTION -->
    <p>
      <label for="description-text">Description</label><br>
      <textarea id="description-text" name="description" rows="10" /></textarea>
    </p>
    <!-- User Info -->
    {{#if user}}
    <input hidden type="text" value="{{user._id}}" name="author">
    {{/if}}

  </fieldset>

  <select name="score" id="">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>

  <!-- BUTTON -->
  <p>
    <button type="submit">Save Review</button>
  </p>

</form>

<form action="/reviews" method="get">
  <p>
    <button type="submit"> Cancel</button>
  </p>
</form>