@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

:root {
  --colorLight: hsl(197, 69%, 60%);
  --colorMain: hsl(197, 69%, 30%);
  --colorDark: hsl(197, 69%, 10%);

  --neutralLight: hsl(180, 6%, 88%);
  --neutralDark: hsl(180, 6%, 5%);
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* Can change font-family to whatever the team would like. */
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--neutralLight);
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5 {
  color: var(--colorMain);
  text-shadow:
  -1px -1px 0 var(--neutralDark),
  1px -1px 0 var(--neutralDark),
  -1px 1px 0 var(--neutralDark),
  1px 1px 0 var(--neutralDark);
}

img {
  border-radius: 25px;
  border: solid 2px var(--colorMain);
}

/* Navbar */
nav{
  background: var(--colorDark);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0 100px;
  z-index: 100;
  border-bottom: 4px solid var(--colorLight);
}
nav .logo{
  color: var(--colorLight);
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: var(--colorMain);
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: var(--colorLight);
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: var(--neutralDark);
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid var(--colorLight);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: var(--neutralLight);
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: var(--neutralLight);
  font-size: 17px;
  background: var(--colorMain);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: var(--colorLight);
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: var(--neutralLight);
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: var(--neutralDark);
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: var(--colorDark);
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: var(--colorDark);
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: var(--colorMain);
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}

/* Home Page */
.home-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 2vh 0;
  padding-bottom: 3vh;
}

.home-head h1 {
  margin-bottom: 2vh;
  font-size: 3rem;
}

.home-head img {
  height: 500px;
  width: 800px;
}

/* Carousel slider */
.swiper-container {
  width: 85%;
  height: 375px;
  margin: 3vh 0;
}

.swiper-key {
  text-transform: capitalize;
  padding-left: 1vw;
  position: relative;
  z-index: 500;
  font-size: 1.5rem;
}

.swiper-slide {
  text-align: center;
  background: none;
  height: 350px;
  margin-top: 10px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-flow: column;
  transition: transform .5s ease;
}

.swiper-slide:hover {
  transform: scale(1.2);
}

.swiper-slide img {
  width: 200px;
  height: 250px;
}

.swiper-title {
  text-decoration: none;
  color: var(--colorMain);
}

.swiper-button-next,
.swiper-button-prev {
  width: 100px;
  height: 100px;
  background-color: var(--colorMain);
  border-radius: 50%;
  padding: 30px;
  border: 2px solid var(--colorLight);
  transition: transform .5s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.15);
  background-color: var(--colorLight);
  border-color: var(--colorMain);
}

.swiper-button-next:active,
.swiper-button-prev:active {
  background-color: var(--colorMain);
  border-color: var(--colorDark);
  transform: scale(0.95);
}

.swiper-button-next {
  margin-right: 10px;
}

.swiper-button-prev {
  margin-left: 10px;
}

/* Profile Page */
.profile-head {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vh 0;
  margin: 0 20vw;
}

.profile-pic {
  margin-right: 2vw;
}

.profile-pic img {
  width: 250px;
  height: 300px;
}

.profile-pic a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--colorMain);
}

.profile-pic a:hover {
  color: var(--colorLight);
}

.profile-info p {
  font-size: 1.5em;
}

.profile-info span {
  text-shadow: 5px 0 4px var(--neutralDark);
  -webkit-text-stroke: 1.5px var(--colorMain);
  -webkit-text-fill-color: var(--colorLight);
}

.profile-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-gif img {
  height: 350px;
  width: 500px;
}

.user-reviews-title {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  margin: 1vh 0 3vh 0;
}

.user-reviews-title h2 {
  font-size: 2rem;
  padding: 0;
  margin: 0 0.5vw;
}

.user-reviews-title a {
  margin-bottom: 0.5vh;
}

.user-reviews-card {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 2vw;
}

.user-reviews {
  /* border-left: 2px solid var(--colorMain);
  border-right: 2px solid var(--colorMain); */
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
  justify-content: center;
  padding: 1vh 0.45vw;
  line-height: 1.5rem;
}

.results-info {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  justify-content: center;
  padding: 1vh 0.45vw;
  transition: transform .5s ease;
}

.user-reviews a {
  text-decoration: none;
}

.user-reviews p {
  width: 33vw;
}

/* devDetails */
.anime-header {
  display: flex;
  width: 100%;
  height: 75vh;
  background-color: var(--colorDark);
}

.anime-header iframe {
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-top: 4px solid var(--colorLight);
  border-left: 4px solid var(--colorLight);
  border-right: 4px solid var(--colorLight);
}

.anime-video {
  object-fit: cover;
  width: 100%;
  height: 85%;
  position: absolute;
  top: 0;
  left: 0;
}

.anime-display {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  padding-left: 1rem;
}

.anime-image {
  padding: 0;
  margin: 0;
  display: flex;
  position: flex-end;
}

.anime-title {
  color: var(--colorMain);
  margin-bottom: -4vh;
  padding-left: 1rem;
  font-size: 2rem;
}

.anime-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row;
  margin-top: 2vh;
  font-size: 1.5rem;
}

.anime-scores,
.anime-genre,
.anime-air {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  flex-flow: column;
}

.anime-scores p,
.anime-air p {
  margin-top: 0.5vh;
  margin-bottom: 2vh;
}

.anime-description {
  margin: 2vh 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.anime-description h3 {
  font-size: 1.75rem;
}

.anime-description p {
  font-size: 1.2rem;
  margin-top: 0.5vh;
  margin-bottom: 2vh;
  line-height: 1.8rem;
}

/* devShowAll */
.results-title {
  margin: 2vh 2vw;
  font-size: 1.5rem;
}

.results {
  width: 90%;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 2vw;
}

.results-info {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  justify-content: center;
  padding: 1vh 0.45vw;
  transition: transform .5s ease;
}

.results-info:hover {
  transform: scale(1.2);
}

.results-info img {
  width: 200px;
  height: 250px;
  margin-bottom: -1vh;
}

.results-info p {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  width: 200px;
  text-align: center;
}

.results-title {
  text-decoration: none;
  color: var(--colorMain);
  font-size: 1.1rem;
}

/* Forms */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 75vh;
}

.form fieldset {
  padding: 2rem 8rem;
  border-radius: 25px;
  color: var(--colorMain);
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.form form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.form label,
.form input {
  margin-bottom: 1rem;
}

.form button {
  background-color: var(--colorMain);
  padding: 0.5em 1em;
  color: var(--neutralLight);
  font-size: 0.6em;
}

.review-items {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.review-items div {
  display: flex;
  flex-flow: column;
  padding: 0 1vw;
}

.review-button {
  margin-top: 1rem;
}

/* About/Feedback page */
.about,
.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 70vh;
  font-size: 25px;
}

.about-creators {
  padding-top: 3vh;
}

.about-creators li {
  text-decoration: none;
  list-style-type: none;
  color: var(--neutralDark);
  padding-top: 1vh;
  text-align: center;
}

.about-thank-you,
.feedback-info {
  padding-top: 3vh;
  color: var(--neutralDark);
  margin: 0 25%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  line-height: 1.5em;
}

.feedback-email {
  padding-top: 3vh;
}

/* Footer */
.footer {
  position: relative;
  justify-content: center;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--colorDark);
}

.footer-link {
  font-size: 1.5rem;
  padding-top: 2vh;
}

.footer-link a {
  color: var(--colorMain);
  text-align: center;
  text-decoration: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.footer-link a:hover {
  color: var(--colorLight);
  cursor: pointer;
}