<a href="/dev/top">Top Anime</a>

<form action="/dev/" method="post">
  <input type="text" name="search" id="search">
  <button type="submit">Search</button>
</form>
<br><br>
<form action="/dev/details" method="post">
  <input type="text" name="mal_id" id="details">
  <button type="submit">Details by ID</button>
</form>
<br><br>
<form action="/dev/detailsJson" method="post">
  <input type="text" name="mal_id" id="details">
  <button type="submit">Json view</button>
</form>