DevShowAll view update
<div style="    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    width: 100vw;">

  {{#each data}}
  <div style="display: flex;
               align-items: center;
                justify-content: center;
                flex-flow: column wrap;
                text-align: center">
    <p><a href="/dev/detailsGet/{{mal_id}}">{{title}}</a></p>
    <img src="{{image_url}}" alt="">
  </div>
  {{/each}}
</div>