<h2>Search Results</h2>
<div class="results">
  {{#each data}}
  <div class="results-info">
    <p><a href="/dev/detailsGet/{{mal_id}}">{{title}}</a></p>
    <a href="/dev/detailsGet/{{mal_id}}"><img src="{{image_url}}" alt=""></a>
  </div>
  {{/each}}
</div>