<div class="about">
  <h2>AɳιɱαƚισɳSƚαƚισɳ</h2>
  <h3>has been brought to you by:</h3>

  <div class="about-creators">
    <li>Mario Lange</li>
    <li>Keith McGowan</li>
    <li>Martin Stoyanov</li>
  </div>

  <div class="about-thank-you">
    <p>And a special thank you to Nick Borbe, Stefan Culafic, Rabiul Alam and the Ironhack team for helping us succeed
      with
      this project!</p>
  </div>
</div>