<div class="feedback">
  <h2>AɳιɱαƚισɳSƚαƚισɳ</h2>
  <h3>wants to hear from you!</h3>

  <div class="feedback-info">
    <p>Need to report a bug? Have questions or comments?</p>
    <p>Feel free to contact us at:</p>
  </div>

  <div class="feedback-email">
    <h4>animationstation.support@gmail.com</h4>
  </div>

</div>